* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #f5f5f5;
}

#drum-machine {
  width: 75vh;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e4e7;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
}

.pad-area {
  width: 50%;
  height: 90%;
  background-color: #c0c9c8;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.drum-pad {
  margin: 10px;
  width: 25%;
  height: 25%;
  background-color: #b6b4b7;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 4px #777a79 solid;
  border-bottom: 4px #777a79 solid;
}

.drum-pad:active {
  border-top: 2px #c0c9c8 solid;
  border-left: 2px  #c0c9c8 solid;
  border-right: 2px #777a79 solid;
  border-bottom: 2px #777a79 solid;
}

.drumactive {
  border-top: 2px #c0c9c8 solid;
  border-left: 2px  #c0c9c8 solid;
  border-right: 2px #777a79 solid;
  border-bottom: 2px #777a79 solid; 
}

.panel-area {
  width: 40%;
  height: 90%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#display {
  width: 100%;
  height: 25%;
  background-color: #3d373b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lcd {
  width: 80%;
  height: 80%;
  background-color: #01216e;
  text-align: center;
  color: #ffd839;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  width: 100%;
  height: 20%;
  background-color: #8aaac3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#volumen {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

#volumen::-webkit-slider-runnable-track {
  background: #b6b4b7;
}

#volumen::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; 
  height: 40px;
  background: #e0635d;
  box-shadow: -100vw 0 0 100vw #777a79;
}

.control span {
  font-size: 1em;
  margin: 10px;
  color: #f2ebe3;
}

.logo {
  width: 100%;
  height: 30%;
  font-size: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #e0635d;
}

@media screen and (max-width: 815px) {

  #drum-machine {
    flex-direction: column-reverse;
    width: 50vh;
    height: 75vh;
  }

  .pad-area {
    width: 90%;
    height: 90%;
  }
  .panel-area {
    width: 90%;
    height: 90%;
  }
  .control {
    width: 100%;
    height: 30%;
  }
}
