body {
  background-color: #b6d5d5;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 0;
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dad9d4;
}

.modal-close {
  width: 100%;
  height: 5%; 
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  padding-right: 10px;

  i:hover {
    color:#495867
  } 
}

.modal-content {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  .arrow {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;

    i:hover {
      color:#495867
    }
  }

  .img-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 90%;
      height: 90%;
    }
  }
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7ff;
  border: 1px solid #495867;

  .search {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.search-item {
  .search-box {
    border: 1px solid #495867;

    &:focus {
      outline-color: #495867;
    }
  }

  .search-btn {
    border: 1px solid #495867;
    color: #495867;

    &:hover {
      background-color: #b6d5d5;
      color: #f7f7ff;
    } 
  }
}

section .list {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  .card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 50%;
    }
  }

}

footer {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #577399;
  font-size: 20px;
  color: #f7f7ff;

  a {
    color: #b6d5d5;
    text-decoration: none;
  }
}
